<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wcy.SpringBoot.mapper.AdviceMapper">
  <resultMap id="BaseResultMap" type="com.wcy.SpringBoot.model.Advice">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="advice" jdbcType="VARCHAR" property="advice" />
  </resultMap>
  <sql id="Base_Column_List">
    id, advice
  </sql>
  <select id="select"  resultType="com.wcy.SpringBoot.model.Advice">
    select * from advice order by id desc
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from advice
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from advice
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.wcy.SpringBoot.model.Advice">
    insert into advice (id, advice)
    values (#{id,jdbcType=INTEGER}, #{advice,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.wcy.SpringBoot.model.Advice">
    insert into advice
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="advice != null">
        advice,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="advice != null">
        #{advice,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.wcy.SpringBoot.model.Advice">
    update advice
    <set>
      <if test="advice != null">
        advice = #{advice,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.wcy.SpringBoot.model.Advice">
    update advice
    set advice = #{advice,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>