<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wcy.SpringBoot.mapper.BDFMapper">
    <select id="select" resultType="com.wcy.SpringBoot.model.BlogComment">
       select * from bdfcomment
       order by id desc
    </select>

    <insert id="insert" parameterType="com.wcy.SpringBoot.model.BlogComment">
    insert into bdfcomment (id,comment,time,name)
    values (#{id,jdbcType=INTEGER}, #{comment,jdbcType=VARCHAR}, #{time,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR})
   </insert>



</mapper>