<!DOCTYPE html>
<html lang="zxx">
<head>
	<!-- Meta Tags -->
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=2, maximum-scale=0.5, user-scalable=yes">
	<meta name="description" content="Multipages HTML5 Template">
	<meta name="author" content="">
	
	
	<!-- Page Title -->
	<title>Punch</title>
	
	<!-- Favicon and touch Icons -->
	<link href="images/favicon.png" rel="shortcut icon" type="image/png">
	<link href="images/apple-touch-icon.png" rel="apple-touch-icon">
	<link href="images/apple-touch-icon-72x72.png" rel="apple-touch-icon" sizes="72x72">
	<link href="images/apple-touch-icon-114x114.png" rel="apple-touch-icon" sizes="114x114">
	<link href="images/apple-touch-icon-144x144.png" rel="apple-touch-icon" sizes="144x144">
	
	<!-- Lead Style -->
	<link href="css/style.css" rel="stylesheet" type="text/css">
	<link rel="stylesheet" type="text/css" href="css/demo.css" />
	
	<!--必要样式-->
	<link rel="stylesheet" type="text/css" href="css/style1.css" />
	<link rel="stylesheet" type="text/css" href="css/layui.css" />
	

</head>

<body >
<iframe    name= "iframe "   border= "1 "   frameborder= "1 "   width= "0 "   height= "0 "   style= "display   :none "> </iframe>
<div id="preloader" class="loader_show">
	<div class="loader-wrap">
		<div class="loader">
			<div class="loader-inner"></div>
		</div>
	</div>
</div>

<!-- pointer start -->
<div class="pointer bnz-pointer" id="bnz-pointer"></div>

<div class="content">
	<div class="top_part">
		<!-- Start Header -->
		<header id="header" class="header_1 header">
			<div class="navigation">
				<nav id="flexmenu">
					<div class="logo">
						<a ><img src="images/logo1.jpg" alt="logo"></a>
					</div>
					<div class="nav-inner">
						<div id="mobile-toggle" class="mobile-btn"></div>
						<ul class="main-menu">
							<li class="menu-item"><a href="index.html">Home</a>
								<ul class="sub-menu">
									<li class="menu-item"><a href="index-2.html">Home 2</a></li>
									<li class="menu-item"><a href="index-3.html">Home 3</a></li>
								</ul>
							</li>
							<li class="menu-item "><a href="#">Posts</a>
								<ul class="sub-menu">
									<li class="menu-item "><a href="blog-details.html">Blog Details</a></li>
									<li class="menu-item"><a href="blog-details-fullwidth.html">Blog Details Fullwidth</a></li>
								</ul>
							</li>
							<li class="menu-item "><a href="Question.html">question</a></li>
							<li class="menu-item active"><a href="Question.html">Daka</a></li>
							<li class="menu-item "><a href="#">Article</a>
								<ul class="sub-menu">
									<li class="menu-item "><a href="Article.html">Article</a></li>
									<li class="menu-item"><a href="Writing.html">Writing</a></li>
								</ul>
							</li>
							<li class="menu-item "><a href="#">Things and Tools</a>
								<ul class="sub-menu">
									<li class="menu-item "><a href="satellite.html">satelliteMap</a></li>
									<li class="menu-item "><a href="map.html">PlaceMap</a></li>
									<li class="menu-item "><a href="3dwords.html">3d lines</a></li>
									<li class="menu-item "><a href="PhotoPlay.html">Photo play</a></li>
								</ul>
							</li>
							<li class="menu-item"><a href="Comments.html">Communication</a></li>
							<li class="menu-item "><a href="advice.html">advice</a></li>
<!--							<li class="menu-item"><a href="about.html">About Author</a></li>-->
						
						
						</ul>
					</div>
				</nav>
			</div>
		</header>
		<div class="top-social-1 social_links">
			<ul class="top-social">
				<li><a href="#"><i class="ion-social-facebook"></i></a></li>
				<li><a href="#"><i class="ion-social-instagram"></i></a></li>
				<li><a href="#"><i class="ion-social-twitter"></i></a></li>
			</ul>
		</div>
		<div class="theme_slider_1">
			<div class="slider_inner_content">
				<div class="slider_text">
					<div class="swiper-container slider_posts">
						<div class="swiper-wrapper">
							<div class="swiper-slide">
								<article class="blog_post">
									<div class="post_img">
										<div class="calendar">
											<a href="#"><span class="date">16</span><br>Jan</a>
										</div>
									</div>
									<div class="post_content">
										<div class="post_header">
											<h2 class="post_title" data-swiper="overlay-left">
												<a href="#">The village flower of Fugui village& her happy sisters</a>
											</h2>
										</div>
										<div class="post_intro">
											<p>People's mind is really incredible, for example, in the morning just because the window is sunny, it will become very spiritual, just because the sky is blue, it will feel that life is so beautiful, it will feel that someone around is more lovely</p>
										</div>
										<div class="post_footer">
											<div class="read_more">
												<a href="blog-details.html">Continue Reading</a>
											</div>
										</div>
									</div>
								</article>
							</div>
							
							<div class="swiper-slide">
								<article class="blog_post">
									<div class="post_img">
										<div class="calendar">
											<a href="#"><span class="date">18</span><br>Jan</a>
										</div>
									</div>
									<div class="post_content">
										<div class="post_header">
											<h2 class="post_title" data-swiper="overlay-left">
												<a href="#">It's starting to clear up now</a>
											</h2>
										</div>
										<div class="post_intro">
											<p>Sunny days have sunshine, sunshine is always full of warmth, I believe there are so many friends of love and encouragement, sunny days will always be sunny.
											</p>
										</div>
										<div class="post_footer">
											<div class="read_more">
												<a href="blog-details.html">Continue Reading</a>
											</div>
										</div>
									</div>
								</article>
							</div>
							
							<div class="swiper-slide">
								<article class="blog_post">
									<div class="post_img">
										<div class="calendar">
											<a href="#"><span class="date">24</span><br>May</a>
										</div>
									</div>
									<div class="post_content">
										<div class="post_header">
											<h2 class="post_title" data-swiper="overlay-left">
												<a href="#">The Best Wishes</a>
											</h2>
										</div>
										<div class="post_intro">
											<p>I want to be happy with you and smooth your brow... </p>
										</div>
										<div class="post_footer">
											<div class="read_more">
												<a href="blog-details.html">Continue Reading</a>
											</div>
										</div>
									</div>
								</article>
							</div>
						</div>
						<!-- Add Pagination -->
						<div class="swiper-pagination"></div>
					</div>
				</div>
				
				<div class="slider_images">
					<div class="swiper-container slider_posts">
						<div class="swiper-wrapper">
							<div class="swiper-slide">
								<div class="slide_img" data-swiper="overlay-left">
									<img src="images/slider/QQ图片20210115161556_爱奇艺.jpg" alt="img">
								</div>
							</div>
							<div class="swiper-slide">
								<div class="slide_img" data-swiper="overlay-left">
									<img src="images/slider/QQ图片20210115161556_爱奇艺.jpg" alt="img">
								</div>
							</div>
							<div class="swiper-slide">
								<div class="slide_img" data-swiper="overlay-left">
									<img src="images/slider/QQ图片20210115161556_爱奇艺.jpg" alt="img">
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		
		<div class="featured_category bg_image_1" data-aos="fade-up" data-aos-duration="700">
			<div class="container">
				<div class="row">
					<div class="col-lg-3 col-sm-6">
						<div class="featured_category_item" data-aos="fade-up" data-aos-duration="600">
							<img src="images/tx/cytx.jpg" alt="category">
							<div class="featured_category_info">
								<h6 class="featured_category_heading"><a href="#"> My princess</a></h6>
								<p class="featured_category_number"><span>06</span> Posts</p>
							</div>
						</div>
					</div>
					<div class="col-lg-3 col-sm-6">
						<div class="featured_category_item" data-aos="fade-up" data-aos-duration="800">
							<img src="images/tx/lyjtx.jpg" alt="category">
							<div class="featured_category_info">
								<h6 class="featured_category_heading"><a href="#">Lyj & a beautiful girl </a></h6>
								<p class="featured_category_number"><span>12</span> Posts</p>
							</div>
						</div>
					</div>
					<div class="col-lg-3 col-sm-6">
						<div class="featured_category_item" data-aos="fade-up" data-aos-duration="1000">
							<img src="images/tx/lxztx.jpg" alt="category">
							<div class="featured_category_info">
								<h6 class="featured_category_heading"><a href="#">LXZ& a beautiful sister</a></h6>
								<p class="featured_category_number"><span>09</span> Posts</p>
							</div>
						</div>
					</div>
					<div class="col-lg-3 col-sm-6">
						<div class="featured_category_item" data-aos="fade-up" data-aos-duration="1200">
							<img src="images/tx/zsqtx.jpg" alt="category">
							<div class="featured_category_info">
								<h6 class="featured_category_heading"><a href="#">Zsq & a beautiful girl</a></h6>
								<p class="featured_category_number"><span>16</span> Posts</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		
		<div class="main-wrapper">
			<div class="container">
				<div class="row">
					<div class="col-lg-12 col-md-12">
						<div class="newsletter bg_image_2" data-aos="fade-up" data-aos-duration="700">
							<div class="row">
								<div class="col-lg-10 offset-lg-1">
									<form  action="addDoneThings" class="newsletter_form" method="post"  id="from">
										<div class="newsletter_header">
											<p><i class="ion-email"></i>Submit clock out event</p>
											<h3>You can punch in by clicking</h3>
										</div>
										<div class="form_group">
											<div class="wrap" >
												<div class="label-selected" type="text"  placeholder="Please Input" >
													<a href="javascript:;"  class="layui-btn layui-btn-sm show-labelitem" style="float: right; margin: 4px; display: block;line-height: 30px;">展开标签库 </a>
													<a href="javascript:;" class="layui-btn layui-btn-sm" id="cell" style="float: right; margin: 4px; display: block;line-height: 30px;">打卡</a>
													<!-- <a href="javascript:;" class="layui-btn layui-btn-sm1 " style="float: right; margin: 4px; display: block;line-height: 30px;">展开标签库 </a> -->
													<a href="javascript:;" class="layui-btn layui-btn-sm hide-labelitem" style="float: right; margin: 4px; display: none;line-height: 30px;">收起标签库 </a>
													<input type="hidden"  name="label" id="label">
													<!-- <input type="hidden" id="username" name="name" /> -->
												</div>
												<!-- <textarea type="text" name="describe"  id="question" class="form-control" placeholder="simple describe here*(maxlength=10)"  required></textarea> -->
												
												<div class="form-container">
													<div class="row">
														<div class="col-md-12 col-lg-12">
															<div class="form-group">
																<input type="text" name="describe"  id="describe"  placeholder="Simple describe Here*(can be Empty)"  ></textarea>
																<select name="name">
																	<option value ="Wcy">Wcy</option>
																	<option value ="Cy" selected="selected">Cy</option>
																</select>
															</div>
														</div>
													
													
													</div>
												</div>
												
												<div class="layui-col-md12" id="labelItem">
													<!--标签库-->
													<div class="label-item">
														<li data="1"><span> 1.一起去爬山⛰️</span></li>
														<li data="2"><span> 2.一起散步🚶‍</span></li>
														<li data="3"><span> 3.-起旅行🛫</span></li>
														<li data="4"><span> 4.一起蹦极☁️</span></li>
														<li data="5"><span> 5.一起看海👀</span></li>
														<li data="6"><span> 6.一起游泳🏊🏻</span></li>
														<li data="7"><span> 7.一起跨年⭐</span></li>
														<li data="8"><span> 8.一起拍照📸</span></li>
														<li data="9"><span> 9.一起滑冰⛸</span></li>
														<li data="10"><span>10.一起滑雪🏂</span></li>
														<li data="11"><span>11.一起买菜🥬</span></li>
														<li data="12"><span>12.一起下厨🔪</span></li>
														<li data="13"><span>13.一起洗碗🥣</span></li>
														<li data="14"><span>14.一起划船🚣🏼</span></li>
														<li data="15"><span>15.一起唱歌🎤</span></li>
														<li data="16"><span>16.一起跑步🏃🏻‍</span></li>
														<li data="17"><span>17.一起喝酒🍺</span></li>
														<li data="18"><span>18.一起DIY✂️</span></li>
														<li data="19"><span>19.一起吃西瓜🍉</span></li>
														<li data="20"><span>20.一起看电影📽️</span></li>
														<li data="21"><span>21.一起去鬼屋👻</span></li>
														<li data="22"><span>22.一起淋过雨🌧</span></li>
														<li data="23"><span>23.一起吹海风🌪️</span></li>
														<li data="24"><span>24.一起过生日🍰</span></li>
														<li data="25"><span>25.一起看星星⭐</span></li>
														<li data="26"><span>26.一起看日出🌅</span></li>
														<li data="27"><span>27.一起看日落🌇</span></li>
														<li data="28"><span>28.一起看烟火🎆</span></li>
														<li data="29"><span>29.一起打游戏🎮</span></li>
														<li data="30"><span>30.一起放风筝🪁</span></li>
														<li data="31"><span>31.一起逛超市🛒</span></li>
														<li data="32"><span>32.一起敷面膜🎭</span></li>
														<li data="33"><span>33.一起坐缆车🚡</span></li>
														<li data="34"><span>34.一起堆雪人☃️</span></li>
														<li data="35"><span>35.一起打扑克🃏</span></li>
														<li data="36"><span>36.一起吃火锅🍲</span></li>
														<li data="37"><span>37.一起吃宵夜🍚</span></li>
														<li data="38"><span>38.一起睡懒觉💤</span></li>
														<li data="39"><span>39.一起打羽毛球🏸</span></li>
														<li data="40"><span>40.一起坐过山车🎢</span></li>
														<li data="41"><span>41.一起坐摩天轮🎡</span></li>
														<li data="42"><span>42.一起去迪士尼🏰</span></li>
														<li data="43"><span>43.一起穿情侣装💑</span></li>
														<li data="44"><span>44.一起放孔明灯🏮</span></li>
														<li data="45"><span>45.一起看演唱会🏟️</span></li>
														<li data="46"><span>46.一起去游乐场🎠</span></li>
														<li data="47"><span>47.一起去动物园🐅</span></li>
														<li data="48"><span>48.一起吃路边摊🍡</span></li>
														<li data="49"><span>49.一起看恐怖片😱</span></li>
														<li data="50"><span>50.一起收拾房间🏘️</span></li>
														<li data="51"><span>51.一起过情人节💐</span></li>
														<li data="52"><span>52.一起过圣诞节🌳</span></li>
														<li data="53"><span>53.一起过儿童节🧒🏻</span></li>
														<li data="54"><span>54.一起翻童年相册👶🏻</span></li>
														<li data="55"><span>55.一起庆祝纪念日🎉</span></li>
														<li data="56"><span>56.一起换情侣头像💑</span></li>
														<li data="57"><span>57.一起养一只宠物🐱</span></li>
														<li data="58"><span>58.一起手牵手逛街👭🏻</span></li>
														<li data="59"><span>59.一起去海底世界🐳</span></li>
														<li data="60"><span>60.一起用情侣手机壳📱</span></li>
														<li data="61"><span>61.一起窝在沙发看电视🛋️</span></li>
														<li data="62"><span>62.一起发朋友圈秀恩爱🌈</span></li>
														<li data="63"><span>63.一起努力完成一件事情💪🏻</span></li>
														<li data="64"><span>64.一起去做一件疯狂的事🤪</span></li>
														<li data="65"><span>65.一起拍视频记录生活点滴🥜</span></li>
														<li data="66"><span>66.一起在对方生病时陪着对方💉</span></li>
														<li data="67"><span>67.公主抱👸🏻</span></li>
														<li data="68"><span>68.为对方剥虾🦐</span></li>
														<li data="69"><span>69.陪对方追剧📺</span></li>
														<li data="70"><span>70.陪对方看比赛⚡</span></li>
														<li data="71"><span>71.给对方刮胡子👨🏻</span></li>
														<li data="72"><span>72.穿对方的衣服👚</span></li>
														<li data="73"><span>73.送对方束花💐</span></li>
														<li data="74"><span>74.给对方唱首歌🎶</span></li>
														<li data="75"><span>75.等对方下班😁</span></li>
														<li data="76"><span>76.互送一封信✉️</span></li>
														<li data="77"><span>77.帮彼此吹头发👩🏻</span></li>
														<li data="78"><span>78.盖用一床被子🛏️</span></li>
														<li data="79"><span>79.背大宝贝走一段路🛣️</span></li>
														<li data="80"><span>80.打一整晚电话☎️</span></li>
														<li data="81"><span>81.靠在你肩膀睡觉💤</span></li>
														<li data="82"><span>82.一个用力的拥抱🤗</span></li>
														<li data="83"><span>83.一次炙热的亲吻💋</span></li>
														<li data="84"><span>84.为你做一次蛋糕🎂</span></li>
														<li data="85"><span>85.互相给对方化妆💄</span></li>
														<li data="86"><span>86.为对方挑选衣服👚</span></li>
														<li data="87"><span>87.吃一次烛光晚餐🕯</span></li>
														<li data="88"><span>88.讲故事哄我入睡💤</span></li>
														<li data="89"><span>89.去彼此母校走一走🏫</span></li>
														<li data="90"><span>90.为对方做一次早饭🍚</span></li>
														<li data="91"><span>91.介绍给彼此的朋友🙋</span></li>
														<li data="92"><span>92.用同一副耳机听歌🎧</span></li>
														<li data="93"><span>93.为对方制造小惊喜🌈</span></li>
														<li data="94"><span>94.坐在你的单车后座抱着你🚴</span></li>
														<li data="95"><span>95.一起吃遍肯德基所有新品🍔</span></li>
														<li data="96"><span>96.见过彼此父母🏠</span></li>
														<li data="97"><span>97.一套属于我们的房子🔑</span></li>
														<li data="98"><span>98.一起买家居用品装饰小窝💰</span></li>
														<li data="99"><span>99.领证❤️</span></li>
														<li data="100"><span>100.婚礼💒</span></li>
														
														
											
													</div>
												</div>
												<!-- <input type="button" class="button" id="cell" value="打卡"/> -->
												<!-- <a href="javascript:;" class="layui-btn" id="cell">获取</a> -->
											</div>
										</div>
									</form>
								</div>
							</div>
						</div>
					
					</div>
				</div>
			</div>
		
		</div>
		
		<div class="main-wrapper m_tp_0">
			<div class="container">
				<div class="blog_details">
					
					<div class="row">
						<div class="col-lg-8 col-md-7 details_with_sidebar">
							<article class="blog_post post_expand">
								<div class="post_content">
									<div class="post_header">
										<h2 class="post_title">
											<a href="#">punch the clock</a>
										</h2>
									</div>
									<div class="post_footer">
										<div class="post_share" data-aos="fade-up" data-aos-duration="700">
											<ul class="share_list">
												<li>Share:</li>
												<li data-aos="fade-up" data-aos-duration="500"><a href="#"><i class="ion-social-facebook"></i></a></li>
												<li data-aos="fade-up" data-aos-duration="700"><a href="#"><i class="ion-social-twitter"></i></a></li>
												<li data-aos="fade-up" data-aos-duration="900"><a href="#"><i class="ion-social-dribbble"></i></a></li>
												<li data-aos="fade-up" data-aos-duration="1100"><a href="#"><i class="ion-social-instagram"></i></a></li>
												<li data-aos="fade-up" data-aos-duration="1300"><a href="#"><i class="ion-social-pinterest"></i></a></li>
											</ul>
										</div>
										<div class="post_tag" data-aos="fade-up" data-aos-duration="900">
											<ul class="tag_list">
												<li><a >#Wcy</a></li>
												<li><a >#Cy</a></li>
											</ul>
										</div>
									</div>
								</div>
							</article>
							
							
							
							
							<div class="row">
								
								<div class="container">
									
									
									<section class="main">
										
										<ul class="timeline">
<!--											<div style="border-bottom:1px dashed #000000;margin-bottom: 35px;margin-top: -25px;opacity: 0.2 ;"></div>-->
<!--											<li class="event">-->
<!--												<input type="radio" name="tl-group" checked/>-->
<!--												<label></label>-->
<!--												<div class="thumb user-4"><span>2020/03/03</span></div>-->
<!--												<div class="content-perspective">-->
<!--													<div class="content">-->
<!--														<div class="content-inner">-->
<!--															<h3>20.一起看电影📽️&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;唐人街探案3</h3>-->
<!--															&lt;!&ndash; <p>Don't be too proud of this technological terror you've constructed. The ability to destroy a planet is insignificant next to the power of the Force. The plans you refer to will soon be back in our hands. A tremor in the Force. The last time I felt it was in the presence of my old master. Escape is not his plan. I must face him. Alone.</p> &ndash;&gt;-->
<!--														</div>-->
<!--													</div>-->
<!--												</div>-->
<!--											</li>-->
<!--											-->
<!--											<div style="border-bottom:1px dashed #000000;margin-bottom: 35px;margin-top: -25px;opacity: 0.2 ;"></div>-->
<!--											<li class="event">-->
<!--												<input type="radio" name="tl-group"/>-->
<!--												<label></label>-->
<!--												<div class="thumb user-6"><span>2020/03/03</span></div>-->
<!--												<div class="content-perspective">-->
<!--													<div class="content">-->
<!--														<div class="content-inner">-->
<!--															<h3>6.一起游泳🏊🏻️</h3>-->
<!--															&lt;!&ndash; <p>Ha, didn't even stay for the wedding. Just took his million spacebucks and ran. And you will not call me 'you'. You will never address me as 'you'. You will call me 'your royal highness'. I really must go back. I shouldn't have run away. I realize now that love is one luxury a princess cannot afford. </p> &ndash;&gt;-->
<!--														</div>-->
<!--													</div>-->
<!--												</div>-->
<!--											</li>-->
<!--											<div style="border-bottom:1px dashed #000000;margin-bottom: 35px;margin-top: -25px;opacity: 0.2 ;"></div>-->
<!--											<li class="event">-->
<!--												<input type="radio" name="tl-group" />-->
<!--												<label></label>-->
<!--												<div class="thumb user-4"><span>2020/03/03</span></div>-->
<!--												<div class="content-perspective">-->
<!--													<div class="content">-->
<!--														<div class="content-inner">-->
<!--															<h3>24.一起过生日🍰️ </h3>-->
<!--															&lt;!&ndash; <p>We're done with you. Go back to the golf course and work on your putz. Nah, he got the upside, I got the downside. See there's two sides to every Schwartz.  What's the matter with this thing, what's all that churnning and bubbling, you call that radar screen? Ah, planet Druidia. And under that air shield, ten thousand years of fresh air. We must get through that air shield! Say goodbye to your two best friends, and I don't mean your pals in the Winnebago. So, Lone Star, now you see that evil will always triumph because good is dumb. </p> &ndash;&gt;-->
<!--														</div>-->
<!--													</div>-->
<!--												</div>-->
<!--											</li>-->
<!--											<div style="border-bottom:1px dashed #000000;margin-bottom: 35px;margin-top: -25px;opacity: 0.2 ;"></div>-->
<!--											<li class="event">-->
<!--												<input type="radio" name="tl-group"/>-->
<!--												<label></label>-->
<!--												<div class="thumb user-6"><span>2020/03/03</span></div>-->
<!--												<div class="content-perspective">-->
<!--													<div class="content">-->
<!--														<div class="content-inner">-->
<!--															<h3>13.一起洗碗🥣️</h3>-->
<!--															&lt;!&ndash; <p>Ha, didn't even stay for the wedding. Just took his million spacebucks and ran. And you will not call me 'you'. You will never address me as 'you'. You will call me 'your royal highness'. I really must go back. I shouldn't have run away. I realize now that love is one luxury a princess cannot afford. </p> &ndash;&gt;-->
<!--														</div>-->
<!--													</div>-->
<!--												</div>-->
<!--											</li>-->
<!--											<div style="border-bottom:1px dashed #000000;margin-bottom: 35px;margin-top: -25px;opacity: 0.2 ;"></div>-->
<!--											<li class="event">-->
<!--												<input type="radio" name="tl-group"/>-->
<!--												<label></label>-->
<!--												<div class="thumb user-4"><span>2020/03/03</span></div>-->
<!--												<div class="content-perspective">-->
<!--													<div class="content">-->
<!--														<div class="content-inner">-->
<!--															<h3>5.一起看海👀️ </h3>-->
<!--															&lt;!&ndash; <p>We're done with you. Go back to the golf course and work on your putz. Nah, he got the upside, I got the downside. See there's two sides to every Schwartz.  What's the matter with this thing, what's all that churnning and bubbling, you call that radar screen? Ah, planet Druidia. And under that air shield, ten thousand years of fresh air. We must get through that air shield! Say goodbye to your two best friends, and I don't mean your pals in the Winnebago. So, Lone Star, now you see that evil will always triumph because good is dumb. </p> &ndash;&gt;-->
<!--														</div>-->
<!--													</div>-->
<!--												</div>-->
<!--											</li>-->
<!--											<div style="border-bottom:1px dashed #000000;margin-bottom: 35px;margin-top: -25px;opacity: 0.2 ;"></div>-->
<!--											<li class="event">-->
<!--												<input type="radio" name="tl-group"/>-->
<!--												<label></label>-->
<!--												<div class="thumb user-6"><span>2020/03/03</span></div>-->
<!--												<div class="content-perspective">-->
<!--													<div class="content">-->
<!--														<div class="content-inner">-->
<!--															<h3>11.一起买菜🥬️</h3>-->
<!--															&lt;!&ndash; <p>Ha, didn't even stay for the wedding. Just took his million spacebucks and ran. And you will not call me 'you'. You will never address me as 'you'. You will call me 'your royal highness'. I really must go back. I shouldn't have run away. I realize now that love is one luxury a princess cannot afford. </p> &ndash;&gt;-->
<!--														</div>-->
<!--													</div>-->
<!--												</div>-->
<!--											</li>-->
<!--											<div style="border-bottom:1px dashed #000000;margin-bottom: 35px;margin-top: -25px;opacity: 0.2 ;"></div>-->
<!--											<li class="event">-->
<!--												<input type="radio" name="tl-group"/>-->
<!--												<label></label>-->
<!--												<div class="thumb user-4"><span>2020/03/03</span></div>-->
<!--												<div class="content-perspective">-->
<!--													<div class="content">-->
<!--														<div class="content-inner">-->
<!--															<h3>15.一起唱歌🎤️ </h3>-->
<!--															&lt;!&ndash; <p>We're done with you. Go back to the golf course and work on your putz. Nah, he got the upside, I got the downside. See there's two sides to every Schwartz.  What's the matter with this thing, what's all that churnning and bubbling, you call that radar screen? Ah, planet Druidia. And under that air shield, ten thousand years of fresh air. We must get through that air shield! Say goodbye to your two best friends, and I don't mean your pals in the Winnebago. So, Lone Star, now you see that evil will always triumph because good is dumb. </p> &ndash;&gt;-->
<!--														</div>-->
<!--													</div>-->
<!--												</div>-->
<!--											</li>-->
<!--											<div style="border-bottom:1px dashed #000000;margin-bottom: 35px;margin-top: -25px;opacity: 0.2 ;"></div>-->
<!--											<li class="event">-->
<!--												<input type="radio" name="tl-group"/>-->
<!--												<label></label>-->
<!--												<div class="thumb user-6"><span>2020/03/03</span></div>-->
<!--												<div class="content-perspective">-->
<!--													<div class="content">-->
<!--														<div class="content-inner">-->
<!--															<h3>25.一起看星星⭐️</h3>-->
<!--															&lt;!&ndash; <p>Ha, didn't even stay for the wedding. Just took his million spacebucks and ran. And you will not call me 'you'. You will never address me as 'you'. You will call me 'your royal highness'. I really must go back. I shouldn't have run away. I realize now that love is one luxury a princess cannot afford. </p> &ndash;&gt;-->
<!--														</div>-->
<!--													</div>-->
<!--												</div>-->
<!--											</li>-->
<!--											<div style="border-bottom:1px dashed #000000;margin-bottom: 35px;margin-top: -25px;opacity: 0.2 ;"></div>-->
<!--											<li class="event">-->
<!--												<input type="radio" name="tl-group"/>-->
<!--												<label></label>-->
<!--												<div class="thumb user-4"><span>2020/03/03</span></div>-->
<!--												<div class="content-perspective">-->
<!--													<div class="content">-->
<!--														<div class="content-inner">-->
<!--															<h3>21.一起去鬼屋👻️ </h3>-->
<!--															&lt;!&ndash; <p>We're done with you. Go back to the golf course and work on your putz. Nah, he got the upside, I got the downside. See there's two sides to every Schwartz.  What's the matter with this thing, what's all that churnning and bubbling, you call that radar screen? Ah, planet Druidia. And under that air shield, ten thousand years of fresh air. We must get through that air shield! Say goodbye to your two best friends, and I don't mean your pals in the Winnebago. So, Lone Star, now you see that evil will always triumph because good is dumb. </p> &ndash;&gt;-->
<!--														</div>-->
<!--													</div>-->
<!--												</div>-->
<!--											</li>-->
<!--											<div style="border-bottom:1px dashed #000000;margin-bottom: 35px;margin-top: -25px;opacity: 0.2 ;"></div>-->
<!--											<li class="event">-->
<!--												<input type="radio" name="tl-group"/>-->
<!--												<label></label>-->
<!--												<div class="thumb user-6"><span>2020/03/03</span></div>-->
<!--												<div class="content-perspective">-->
<!--													<div class="content">-->
<!--														<div class="content-inner">-->
<!--															<h3>18.一起DIY✂️️</h3>-->
<!--															&lt;!&ndash; <p>Ha, didn't even stay for the wedding. Just took his million spacebucks and ran. And you will not call me 'you'. You will never address me as 'you'. You will call me 'your royal highness'. I really must go back. I shouldn't have run away. I realize now that love is one luxury a princess cannot afford. </p> &ndash;&gt;-->
<!--														</div>-->
<!--													</div>-->
<!--												</div>-->
<!--											</li>-->
										
										</ul>
									</section>
								
								</div>
							
							</div>
						</div>
						
						<div class="col-lg-4 col-md-5">
							<div class="sidebar" data-aos="fade-up" data-aos-duration="900">
								<div id="custom_1" class="widget widget_custom">
									<!-- <h4 class="widget_title">About Author</h4> -->
									<div class="sidebar_author">
										<img src="images/blog/QQ图片20210117203910.jpg" alt="img">
										<!-- <p class="intro">When it rains, it's because the clouds cry;
											 when the flowers bloom, it's because the wind laughs;
											 when the moon is round, it's because the stars are drunk,
										I smile because you understand and send you a message because I miss you</p>
									 -->
									</div>
								</div>
								
								<div id="" class="widget widget_categories">
									<h4 class="widget_title">Bedtime stories</h4>
									<div class="sidebar_categories">
										<ul class="category_list">
											<li><a href="#">Qi people learn to play the piano</a> (5)</li>
											<li><a href="#">Horse and donkey</a> (7)</li>
											<li><a href="#">The little mouse eats the cake</a> (4)</li>
											<li><a href="#">The story of the frog</a> (3)</li>
											<li><a href="#">Marksman and lion</a> (6)</li>
											<li><a href="#">Lions and shepherds</a> (2)</li>
											<li><a href="#">Pottery and iron pots</a> (1)</li>
											<li><a href="#">Mice and frogs</a> (9)</li>
										</ul>
									</div>
								</div>
								
								
								<div id="tags-1" class="widget widget_tag_cloud">
									<h4 class="widget_title">Tag Cloud</h4>
									<div class="tagcloud">
										<a href="#">Travel</a>
										<a href="#">PHOTOGRAPHY</a>
										<a href="#">FASHION</a>
										<a href="#">Travel</a>
										<a href="#">HOBBY</a>
										<a href="#">PHOTOGRAPHY</a>
										<a href="#">NATURE</a>
									</div>
								</div>
							
							</div>
						</div>
						<div class="pagination-div">
							<ul class="pagination">
								<li><a href="#">&nbsp;&nbsp;&nbsp;--Older Post--</a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
		
		<footer class="footer" data-aos="fade-up" data-aos-duration="700">
			<div class="footer-above">
				<div class="footer-logo">
					<!-- <a href="#"><img src="images/logo-white.png" alt="logo"></a> -->
				</div>
				<div class="footer-social">
					<ul>
						<li><a href="#"><i class="ion-social-facebook"></i></a></li>
						<li><a href="#"><i class="ion-social-instagram"></i></a></li>
						<li><a href="#"><i class="ion-social-twitter"></i></a></li>
					</ul>
				</div>
			</div>
			<div class="footer-middle">
				<div class="container">
					<div class="footer_widget_wrapper">
						<div class="row">
							<div class="col-lg-6 col-md-6">
								<div class="footer_widget">
									<div class="widget-title">
										<h4>Instagram</h4>
									</div>
									<div class="instagram">
										<ul>
											<li><a href="#"><img src="images/insta/$7%7B%7BRONZ%7B19%7DE~QFF5S(P02_爱奇艺.jpg" alt="insta"></a></li>
											<li><a href="#"><img src="images/insta/00S$8~$@P(4EGZ%7D2AASLS%7BB_爱奇艺.jpg" alt="insta"></a></li>
											<li><a href="#"><img src="images/insta/LG%60LMZLGT3%60MLA3F1P8$(76_爱奇艺.jpg" alt="insta"></a></li>
											<li><a href="#"><img src="images/insta/OPSRWFVTZ%7B%7BFP%5BT87LRR6~Q_爱奇艺.jpg" alt="insta"></a></li>
											<li><a href="#"><img src="images/insta/W8_W%5D)V%5D%7B%7DQGU2$0$8QF)0C_爱奇艺.jpg" alt="insta"></a></li>
											<li><a href="#"><img src="images/insta/~HXU4D@8VHC@P%5B$@6O_H3Y8_爱奇艺.jpg" alt="insta"></a></li>
										</ul>
									</div>
								</div>
							</div>
							<div class="col-lg-6 col-md-6">
								<div class="footer_widget pd_lt">
									<div class="blend-logo">
										<!-- <a href="#"><img src="images/logo-big.png" alt="logo"></a> -->
									</div>
									<div class="footer_nav">
										<ul>
											<li class="menu-item"><a href="index.html">Home</a></li>
											<li class="menu-item"><a href="about.html">About Author</a></li>
											<li class="menu-item"><a href="blog-details.html">Blog</a></li>
											<li class="menu-item"><a href="blog-details-fullwidth.html">Blog Fullwidth</a></li>
											<li class="menu-item"><a href="contact.html">Contact Me</a></li>
											<li class="menu-item"><a href="Comments.html">Communication</a></li>
										</ul>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="footer-bottom">
				<div class="container">
					<div class="copyright">
						<p> &copy; 2021 - Wcy. Created by Wcy. Give To Cy.<br>赣ICP备2021001313号-1</p>
					</div>
				</div>
			</div>
		</footer>
	</div>
	<!-- All JavaScript Files
	================================================== -->
	<script src="js/bootstrap.min.js"></script>
	<script src="js/jquery-3.5.1.js"></script>
	<script src="js/jquery-3.5.1.min.js"></script>
	<!--		    <script src="js/bootstrap.min.js"></script>-->
	<script src="plugins/swiper/swiper.min.js"></script>
	<script src="js/menu.js"></script>
	<script src="plugins/aos/aos.js"></script>
	<script src="js/custom.js"></script>
	<script src="js/jQuery.cookie.js"></script>
	<!-- <script src="js/Question.js"></script> -->
	<script  src="js/jquery.min.js"></script>
	<script  src="js/layer.js"></script>
	<script>

    </script>

</div>
</body>
</html>