<!DOCTYPE html>
<html lang="zxx">
    <head>
        <!-- Meta Tags -->
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0">
        <meta name="description" content="Multipages HTML5 Template">
        <meta name="author" content="">

        <!-- Page Title -->
        <title>Page 3</title>

        <!-- Favicon and touch Icons -->
        <link href="images/favicon.png" rel="shortcut icon" type="image/png">
        <link href="images/apple-touch-icon.png" rel="apple-touch-icon">
        <link href="images/apple-touch-icon-72x72.png" rel="apple-touch-icon" sizes="72x72">
        <link href="images/apple-touch-icon-114x114.png" rel="apple-touch-icon" sizes="114x114">
        <link href="images/apple-touch-icon-144x144.png" rel="apple-touch-icon" sizes="144x144">

        <!-- Lead Style -->
        <link href="css/style.css" rel="stylesheet" type="text/css">
    </head>

    <body>
    
    <iframe    name= "iframe "   border= "1 "   frameborder= "1 "   width= "0 "   height= "0 "   style= "display   :none "> </iframe>
    <div id="preloader" class="loader_show">
	    <div class="loader-wrap">
		    <div class="loader">
			    <div class="loader-inner"></div>
		    </div>
	    </div>
    </div>

    <!-- pointer start -->
    <div class="pointer bnz-pointer" id="bnz-pointer"></div>

    <div class="content">
	    <div class="top_part">
		    <!-- Start Header -->
		    <header id="header" class="header_1 header">
			    <div class="navigation">
				    <nav id="flexmenu">
					    <div class="logo">
						    <a href="index.html"><img src="/images/logo1.jpg" alt="logo"></a>
					    </div>
					    <div class="nav-inner">
						    <div id="mobile-toggle" class="mobile-btn"></div>
						    <ul class="main-menu">
							    <li class="menu-item active"><a href="index.html">Home</a>
								    <ul class="sub-menu">
									    <li class="menu-item"><a href="index-3.html">Home 2</a></li>
									    <li class="menu-item"><a href="index-2.html">Home 3</a></li>
								    </ul>
							    </li>
							    <li class="menu-item"><a href="#">Posts</a>
								    <ul class="sub-menu">
									    <li class="menu-item"><a href="blog-details.html">Blog Details</a></li>
									    <li class="menu-item"><a href="blog-details-fullwidth.html">Blog Details Fullwidth</a></li>
								    </ul>
							    </li>
							    <li class="menu-item "><a href="#">Things and Tools</a>
								    <ul class="sub-menu">
									    <li class="menu-item "><a href="satellite.html">satelliteMap</a></li>
									    <li class="menu-item "><a href="map.html">PlaceMap</a></li>
									    <li class="menu-item "><a href="3dwords.html">3d lines</a></li>
									    <li class="menu-item "><a href="PhotoPlay.html">Photo play</a></li>
								    </ul>
							    </li>
							    <li class="menu-item"><a href="Comments.html">Communication</a></li>
							    <li class="menu-item "><a href="advice.html">advice</a></li>
							    <li class="menu-item"><a href="about.html">About Author</a></li>
							    <li class="menu-item"><a href="contact.html">Contact Me</a></li>
						    </ul>
					    </div>
				    </nav>
			    </div>
		    </header>
		
		    <div class="top-social-1 social_links">
			    <ul class="top-social">
				    <li><a href="#"><i class="ion-social-facebook"></i></a></li>
				    <li><a href="#"><i class="ion-social-instagram"></i></a></li>
				    <li><a href="#"><i class="ion-social-twitter"></i></a></li>
			    </ul>
		    </div>
		
		    <div class="theme_slider_1">
			    <div class="slider_inner_content">
				    <div class="slider_text">
					    <div class="swiper-container slider_posts">
						    <div class="swiper-wrapper">
							    <div class="swiper-slide">
								    <article class="blog_post">
									    <div class="post_img">
										    <div class="calendar">
											    <a href="#"><span class="date">16</span><br>Jan</a>
										    </div>
									    </div>
									    <div class="post_content">
										    <div class="post_header">
											    <h2 class="post_title" data-swiper="overlay-left">
												    <a href="#">The village flower of Fugui village& her happy sisters</a>
											    </h2>
										    </div>
										    <div class="post_intro">
											    <p>People's mind is really incredible, for example, in the morning just because the window is sunny, it will become very spiritual, just because the sky is blue, it will feel that life is so beautiful, it will feel that someone around is more lovely</p>
										    </div>
										    <div class="post_footer">
											    <div class="read_more">
												    <a href="blog-details.html">Continue Reading</a>
											    </div>
										    </div>
									    </div>
								    </article>
							    </div>
							
							    <div class="swiper-slide">
								    <article class="blog_post">
									    <div class="post_img">
										    <div class="calendar">
											    <a href="#"><span class="date">18</span><br>Jan</a>
										    </div>
									    </div>
									    <div class="post_content">
										    <div class="post_header">
											    <h2 class="post_title" data-swiper="overlay-left">
												    <a href="#">It's starting to clear up now</a>
											    </h2>
										    </div>
										    <div class="post_intro">
											    <p>Sunny days have sunshine, sunshine is always full of warmth, I believe there are so many friends of love and encouragement, sunny days will always be sunny.
											    </p>
										    </div>
										    <div class="post_footer">
											    <div class="read_more">
												    <a href="blog-details.html">Continue Reading</a>
											    </div>
										    </div>
									    </div>
								    </article>
							    </div>
							
							    <div class="swiper-slide">
								    <article class="blog_post">
									    <div class="post_img">
										    <div class="calendar">
											    <a href="#"><span class="date">24</span><br>May</a>
										    </div>
									    </div>
									    <div class="post_content">
										    <div class="post_header">
											    <h2 class="post_title" data-swiper="overlay-left">
												    <a href="#">The Best Wishes</a>
											    </h2>
										    </div>
										    <div class="post_intro">
											    <p>I want to be happy with you and smooth your brow... </p>
										    </div>
										    <div class="post_footer">
											    <div class="read_more">
												    <a href="blog-details.html">Continue Reading</a>
											    </div>
										    </div>
									    </div>
								    </article>
							    </div>
						    </div>
						    <!-- Add Pagination -->
						    <div class="swiper-pagination"></div>
					    </div>
				    </div>
				
				    <div class="slider_images">
					    <div class="swiper-container slider_posts">
						    <div class="swiper-wrapper">
							    <div class="swiper-slide">
								    <div class="slide_img" data-swiper="overlay-left">
									    <img src="images/slider/QQ图片20210115161556_爱奇艺.jpg" alt="img">
								    </div>
							    </div>
							    <div class="swiper-slide">
								    <div class="slide_img" data-swiper="overlay-left">
									    <img src="images/slider/QQ图片20210115161556_爱奇艺.jpg" alt="img">
								    </div>
							    </div>
							    <div class="swiper-slide">
								    <div class="slide_img" data-swiper="overlay-left">
									    <img src="images/slider/QQ图片20210115161556_爱奇艺.jpg" alt="img">
								    </div>
							    </div>
						    </div>
					    </div>
				    </div>
			    </div>
		    </div>
	    </div>
	
	    <div class="featured_category bg_image_1" data-aos="fade-up" data-aos-duration="700">
		    <div class="container">
			    <div class="row">
				    <div class="col-lg-3 col-sm-6">
					    <div class="featured_category_item" data-aos="fade-up" data-aos-duration="600">
						    <img src="images/category/pig1.jpg" alt="img">
						    <div class="featured_category_info">
							    <h6 class="featured_category_heading"><a href="#">Cy & Her beautiful sisters</a></h6>
							    <p class="featured_category_number"><span>06</span> Posts</p>
						    </div>
					    </div>
				    </div>
				    <div class="col-lg-3 col-sm-6">
					    <div class="featured_category_item" data-aos="fade-up" data-aos-duration="800">
						    <img src="images/category/pig2.jpg" alt="img">
						    <div class="featured_category_info">
							    <h6 class="featured_category_heading"><a href="#">LYJ & one of the beautiful sisters</a></h6>
							    <p class="featured_category_number"><span>12</span> Posts</p>
						    </div>
					    </div>
				    </div>
				    <div class="col-lg-3 col-sm-6">
					    <div class="featured_category_item" data-aos="fade-up" data-aos-duration="1000">
						    <img src="images/category/pig3.jpg" alt="img">
						    <div class="featured_category_info">
							    <h6 class="featured_category_heading"><a href="#">LXZ& one of the beautiful sisters</a></h6>
							    <p class="featured_category_number"><span>09</span> Posts</p>
						    </div>
					    </div>
				    </div>
				    <div class="col-lg-3 col-sm-6">
					    <div class="featured_category_item" data-aos="fade-up" data-aos-duration="1200">
						    <img src="images/category/pig4.jpg" alt="img">
						    <div class="featured_category_info">
							    <h6 class="featured_category_heading"><a href="#">ZSQ& one of the beautiful sisters</a></h6>
							    <p class="featured_category_number"><span>16</span> Posts</p>
						    </div>
					    </div>
				    </div>
			    </div>
		    </div>
	    </div>
			
			<div class="main-wrapper">
				<div class="container">
					<div class="row">
						<div class="col-lg-12 col-md-12">
							<div class="blog_list" data-aos="fade-up" data-aos-duration="700">
								<article class="blog_post">
									<div class="post_img" data-aos="overlay-left">
										<a href="#"><img src="images/blog/BE0EJ6I9COERN%5D2G68UY5$H_爱奇艺.jpg" alt="blog"></a>
										<div class="calendar">
											<a href="#"><span class="date">22</span><br>Jan</a>
										</div>
									</div>
									<div class="post_content">
										<div class="post_header">
											<div class="author"><a href="#"><i class="ion-android-create"></i> By Wcy</a></div>
											<h2 class="post_title">
												<a href="#">愛(あい)にできることはまだあるよ&僕(ぼく)にできることはまだあるよ</a>
											</h2>
										</div>
										<div class="post_intro">
											<p>あの景色(けしき)、あの日見(ひみ)たことは全部夢(ぜんぶゆめ)だったんじゃないかと今(いま)では思(おも)う。
                                   でも夢(ゆめ)じゃないんだ。あの夏(なつ)の日(ひ)、あの空(そら)の上(うえ)で僕(ぼく)たちは世界(せかい)の形(か
                                  たち)を変(か)えてしまったんだ。</p>
										</div>
										<div class="post_footer">
											<div class="read_more" data-aos="fade-up" data-aos-duration="700">
												<a href="blog-details.html">Continue Reading</a>
											</div>
											<div class="post_share">
												<ul class="share_list">
													<li data-aos="fade-up" data-aos-duration="500"><a href="#"><i class="ion-social-facebook"></i></a></li>
													<li data-aos="fade-up" data-aos-duration="700"><a href="#"><i class="ion-social-twitter"></i></a></li>
													<li data-aos="fade-up" data-aos-duration="900"><a href="#"><i class="ion-social-rss"></i></a></li>
													<li data-aos="fade-up" data-aos-duration="1100"><a href="#"><i class="ion-social-instagram"></i></a></li>
												</ul>
											</div>
										</div>
									</div>
								</article>
								
								<article class="blog_post">
									<div class="post_img" data-aos="overlay-right">
										<a href="#"><img src="images/blog/PTJ4Z%7D4A$%25@E%7DA%258)SYCG%5BW_爱奇艺.jpg" alt="blog"></a>
										<div class="calendar">
											<a href="#"><span class="date">17</span><br>Jan</a>
										</div>
									</div>
									<div class="post_content">
										<div class="post_header">
											<div class="author"><a href="#"><i class="ion-android-create"></i> By Wcy</a></div>
											<h2 class="post_title">
												<a href="#">ねえ、今(いま)から晴(は)れるよ。</a>
											</h2>
										</div>
										<div class="post_intro">
											<p>もう二度(にど)と晴(は)れなくたっていい！
                                             青空(あおぞら)よりも俺(おれ)はひながいい！
                                        天気(てんき)なんかずっと狂(くる)ったままでいいんだ！... </p>
										</div>
										<div class="post_footer">
											<div class="read_more" data-aos="fade-up" data-aos-duration="700">
												<a href="blog-details.html">Continue Reading</a>
											</div>
											<div class="post_share">
												<ul class="share_list">
													<li data-aos="fade-up" data-aos-duration="500"><a href="#"><i class="ion-social-facebook"></i></a></li>
													<li data-aos="fade-up" data-aos-duration="700"><a href="#"><i class="ion-social-twitter"></i></a></li>
													<li data-aos="fade-up" data-aos-duration="900"><a href="#"><i class="ion-social-rss"></i></a></li>
													<li data-aos="fade-up" data-aos-duration="1100"><a href="#"><i class="ion-social-instagram"></i></a></li>
												</ul>
											</div>
										</div>
									</div>
								</article>
							</div>
							
							<div class="newsletter bg_image_2" data-aos="fade-up" data-aos-duration="700">
								<div class="row">
									<div class="col-lg-10 offset-lg-1">
										<form  action="advice" class="newsletter_form" method="post"  >
											<div class="newsletter_header">
												<p><i class="ion-email"></i>Submit feelings or comments</p>
												<h3>Give an opinion that needs to be revised</h3>
											</div>
											<div class="form_group">
												<input class="form-control" type="text" id="advice" placeholder="Please Input" name="advice" >
												<input type="submit"  class="button" value="Subscribe" >
											</div>
										</form>
									</div>
								</div>
							</div>
							
							<div class="more_posts">
								<div class="row">
									<div class="col-lg-4 col-md-4">
										<article class="blog_post" data-aos="fade-up" data-aos-duration="700">
											<div class="post_img" data-aos="overlay-left">
											<a href="#"><img src="images/blog/fbb.jpg" alt="blog"></a>
												<div class="calendar">
													<a href="#"><span class="date">27</span><br>Jan</a>
												</div>
											</div>
											<div class="post_content">
												<div class="post_header">
													<div class="author"><a href="#"><i class="ion-android-create"></i> By Wcy</a></div>
													<h2 class="post_title">
														<a href="#">Happiness is always the most important thing</a>
													</h2>
												</div>
											</div>
										</article>
									</div>

									<div class="col-lg-4 col-md-4">
										<article class="blog_post" data-aos="fade-up" data-aos-duration="900">
											<div class="post_img" data-aos="overlay-left">
												<a href="#"><img src="images/blog/QQ图片20210117203914.jpg" alt="blog"></a>
												<div class="calendar">
													<a href="#"><span class="date">27</span><br>May</a>
												</div>
											</div>
											<div class="post_content">
												<div class="post_header">
													<div class="author"><a href="#"><i class="ion-android-create"></i> By Wcy</a></div>
													<h2 class="post_title">
														<a href="#">I'm not a hero. I just want to protect the people I love and the people who love me</a>
													</h2>
												</div>
											</div>
										</article>
									</div>

									<div class="col-lg-4 col-md-4">
										<article class="blog_post" data-aos="fade-up" data-aos-duration="1100">
											<div class="post_img" data-aos="overlay-right">
												<a href="#"><img src="images/blog/QQ图片20210117203903.jpg" alt="blog"></a>
												<div class="calendar">
													<a href="#"><span class="date">24</span><br>May</a>
												</div>
											</div>
											<div class="post_content">
												<div class="post_header">
													<div class="author"><a href="#"><i class="ion-android-create"></i> By Wcy</a></div>
													<h2 class="post_title">
														<a href="#">Don't play dumb, young man</a>
													</h2>
												</div>
											</div>
										</article>
									</div>

									<div class="col-lg-4 col-md-4">
										<article class="blog_post" data-aos="fade-up" data-aos-duration="700">
											<div class="post_img" data-aos="overlay-right">
												<a href="#"><img src="images/blog/QQ图片20210117203917.jpg" alt="blog"></a>
												<div class="calendar">
													<a href="#"><span class="date">22</span><br>May</a>
												</div>
											</div>
											<div class="post_content">
												<div class="post_header">
													<div class="author"><a href="#"><i class="ion-android-create"></i> By Wcy</a></div>
													<h2 class="post_title">
														<a href="#">Assassin!</a>
													</h2>
												</div>
											</div>
										</article>
									</div>

									<div class="col-lg-4 col-md-4">
										<article class="blog_post" data-aos="fade-up" data-aos-duration="900">
											<div class="post_img" data-aos="overlay-left">
												<a href="#"><img src="images/blog/QQ图片20210117203925.jpg" alt="blog"></a>
												<div class="calendar">
													<a href="#"><span class="date">20</span><br>May</a>
												</div>
											</div>
											<div class="post_content">
												<div class="post_header">
													<div class="author"><a href="#"><i class="ion-android-create"></i> By Wcy</a></div>
													<h2 class="post_title">
														<a href="#">Hey, sister! Who are you?</a>
													</h2>
												</div>
											</div>
										</article>
									</div>

									<div class="col-lg-4 col-md-4">
										<article class="blog_post" data-aos="fade-up" data-aos-duration="1100">
											<div class="post_img" data-aos="overlay-left">
												<a href="#"><img src="images/blog/QQ图片20210117203910.jpg" alt="blog"></a>
												<div class="calendar">
													<a href="#"><span class="date">07</span><br>May</a>
												</div>
											</div>
											<div class="post_content">
												<div class="post_header">
													<div class="author"><a href="#"><i class="ion-android-create"></i> By Wcy</a></div>
													<h2 class="post_title">
														<a href="#">You're the only one holding the umbrella for me</a>
													</h2>
												</div>
											</div>
										</article>
									</div>
								</div>
							</div>

							<div class="pagination-div">
								<ul class="pagination">
									<li><a class="page-number current" href="#">1</a></li>
									<li><a class="page-number" href="#">2</a></li>
									<li><a class="page-number" href="#">3</a></li>
									<li><a href="#">Older Post</a></li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>

			<footer class="footer" data-aos="fade-up" data-aos-duration="700">
					<div class="footer-above">
						<div class="footer-logo">
							<!-- <a href="#"><img src="images/logo-white.png" alt="logo"></a> -->
						</div>
						<div class="footer-social">
							<ul>
								<li><a href="#"><i class="ion-social-facebook"></i></a></li>
								<li><a href="#"><i class="ion-social-instagram"></i></a></li>
								<li><a href="#"><i class="ion-social-twitter"></i></a></li>
							</ul>
						</div>
					</div>
					<div class="footer-middle">
						<div class="container">
							<div class="footer_widget_wrapper">
								<div class="row">
									<div class="col-lg-6 col-md-6">
										<div class="footer_widget">
											<div class="widget-title">
												<h4>Instagram</h4>
											</div>
											<div class="instagram">
												<ul>
											<li><a href="#"><img src="images/insta/$7%7B%7BRONZ%7B19%7DE~QFF5S(P02_爱奇艺.jpg" alt="insta"></a></li>
											<li><a href="#"><img src="images/insta/00S$8~$@P(4EGZ%7D2AASLS%7BB_爱奇艺.jpg" alt="insta"></a></li>
											<li><a href="#"><img src="images/insta/LG%60LMZLGT3%60MLA3F1P8$(76_爱奇艺.jpg" alt="insta"></a></li>
											<li><a href="#"><img src="images/insta/OPSRWFVTZ%7B%7BFP%5BT87LRR6~Q_爱奇艺.jpg" alt="insta"></a></li>
											<li><a href="#"><img src="images/insta/W8_W%5D)V%5D%7B%7DQGU2$0$8QF)0C_爱奇艺.jpg" alt="insta"></a></li>
											<li><a href="#"><img src="images/insta/~HXU4D@8VHC@P%5B$@6O_H3Y8_爱奇艺.jpg" alt="insta"></a></li>
												</ul>
											</div>
										</div>
									</div>
									<div class="col-lg-6 col-md-6">
										<div class="footer_widget pd_lt">
											<div class="blend-logo">
												<!-- <a href="#"><img src="images/logo-big.png" alt="logo"></a> -->
											</div>
											<div class="footer_nav">
												<ul>
													<li class="menu-item"><a href="index.html">Home</a></li>
													<li class="menu-item"><a href="about.html">About Author</a></li>
													<li class="menu-item"><a href="blog-details.html">Blog</a></li>
													<li class="menu-item"><a href="blog-details-fullwidth.html">Blog Fullwidth</a></li>
													<li class="menu-item"><a href="contact.html">Contact Me</a></li>
													<li class="menu-item"><a href="Comments.html">Communication</a></li>
												</ul>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="footer-bottom">
						<div class="container">
							<div class="copyright">
								<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &copy; 2021 - Wcy. Created by Wcy. Give To Cy.<br>赣ICP备2021001313号-1|</p>
							</div>
						</div>
					</div>
				</footer>
			</div>
        <!-- All JavaScript Files
        ================================================== -->
    <script src="js/bootstrap.min.js"></script>
    <script src="js/jquery-3.5.1.js"></script>
    <script src="js/jquery-3.5.1.min.js"></script>
<!--    <script src="js/bootstrap.min.js"></script>-->
        <script src="plugins/swiper/swiper.min.js"></script>
		<script src="js/menu.js"></script>
        <script src="plugins/aos/aos.js"></script>
        <script src="js/custom.js"></script>
	</body>
</html>